.theme-toggle {
  display: flex;
  align-items: flex-end;
}

.theme-toggle__name {
  font-size: 12px;
  line-height: 1.1em;
  letter-spacing: 1px;
  margin-right: 21px;
}

.theme-toggle__toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-toggle__radio-button {
  border-radius: 13px;
  width: 71px;
  height: 26px;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 0 5px;
  box-shadow: none;
  border: none;
  transition: background-color 500ms ease;
}

.theme-toggle__radio-button:hover {
  cursor: pointer;
}

.theme-toggle__radio {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: background-color 500ms ease, transform 500ms ease;
}

.theme-numbers {
  display: flex;
  justify-content: space-between;
  width: 52px;
  margin-bottom: 5px;
}

.theme-numbers span {
  font-size: 12px;
  line-height: 1em;
}


